*
{
 margin:0;
 padding:0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;   
}
body
{
    background: #373741;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.contenedor
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #373741;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 800px) {
    .contenedor,
    .derecha {
      display: flex;
    }

    .contenedor {
      flex-direction: column;
    }
}
.contenedor .izquierda
{
    position: relative;
    background: #373741;
    padding: 40px;
}
/*Foto de perfil, nombre y a que me dedico*/
.fotonombre
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.fotonombre .foto
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.fotonombre .foto img
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fotonombre h1 
{
    color: #fe9c8e;
    font-size: 1.96em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
}
.fotonombre h2 
{
    color: #fffefe;
    font-size: 0.9em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    line-height: 1.4em;
}


.titulos h1
{
    color: #fe9c8e;
    font-size: 1em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
}

/*Perfil y contendio*/
.ContenedorPerfil p 
{
    color: #fffefe;
    font-size: 0.6em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    line-height: 1.4em;
}
/*Info contacto*/

.ContenedorInfo .tablaInfo td
{
    color: #fffefe;
    font-size: 0.6em;
}

/*Redes sociales*/
.ContenedorRedes ul li
{
    list-style: none;
}
.ContenedorRedes a
{
    margin: 21px;
}
.ContenedorRedes i
{

    color: white;
}
/*Contactame-Formulario*/
.Contacto .form 
{
    width: 180px;
    background: #373741;
    margin-top: 30px;
    border-radius: 17px;
    font-family: "league spartan";
    color: white;
}
.controls 
{
    width: 100%;
    background: #373741;
    padding: 6px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #fe9c8e;
    font-size: 12px;
}

.form .boton
{
    width: 100%;
    background: #fe9c8e;
    border-radius: 20px;
    border: none;
    padding: 2px;
    color: white;
    margin: 10px 0;
    font-size: 12px;

}

.contenedor .derecha
{
    position: relative;
    background: #fffefe;
    padding: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Titulos*/
.tituloderecha
{
    background: #fe9c8e;
    border-radius: 20px;
    text-align: center;
}
/*Especialidades*/
.ContenedorEspecialidades .especialidad
{
    display: flex;
    flex-direction: row;
    margin: 6px 0;
}

.ContenedorEspecialidades .especialidad img
{
    position: relative;
    top: 0;
    left: 0;
    width: 27%;
    height: 27%;
    object-fit: cover; 
}
/*Formacion*/
.ContendorFormacion .box
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.ContendorFormacion .box .years_lugar
{
    min-width: 150px;
}

.year
{
    text-transform: uppercase;
    color:#fe9c8e;
    font-weight: 600;
}

.lugar 
{
    text-transform: uppercase;
    color:#081921;
    font-weight: 600;
}

.ContendorFormacion .box .texto h4
{
    text-transform: uppercase;
    color:black;
    font-size: 16px;
}
/*Habilidades*/
.ContenedorHabilidades ul
{
    margin: 12px 0;
}
.ContenedorHabilidades .porcentaje
{
    position: relative;
    width: 60%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.ContenedorHabilidades .porcentaje div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #fe9c8e;
}
.ContenedorHabilidades ul li
{
    list-style: none;
}
/*Ubicacion google maps*/

.ContenedorLugares .google_maps iframe
{
    width: 50%;
    height: 50%;
    margin:12px auto;
}
#mapa
{
    outline: 2px;
    margin-left: 146px;
    margin-right: 200px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/*video*/
.video video
{
    width: 260px;
}

.ContenedorEspecialidades, .ContendorFormacion, .ContenedorHabilidades, .ContenedorLugares
{
    justify-content: center;
    align-items: center;
}
#video
{
    outline: 2px;
    margin:12px auto;
    margin-left: 179px;
    margin-right: 200px; 
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.tituloderecha :hover, .tituloderecha :focus 
{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #444;
}